* {
	font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  font-size: 12px;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 171px)) 1fr;
  grid-template-rows: repeat(7, auto);
}

.header-nav {
  grid-column: 7/8;
  grid-row: 1/2;
  justify-self: end;
  margin-right: 30px;
}

.nav {
  display: flex;
}

.header-photo {
  grid-column: 2/4;
  grid-row: 2/3;
  
}

.header-contacts {
  grid-column: 4/8;
  grid-row: 2/3;
  padding: 60px 40px 20px 20px;
}


.side-skills {
  grid-column: 2/4;
  grid-row: 3/7;
  border-right: 2px dotted #ffffff;
  margin-right: 20px;
  padding-left: 40px;
  padding-top: 20px;
}

.main-experience {
  grid-column: 4/8;
  grid-row: 3/4;
  padding-top: 20px;
}

/* education */

.education-table {
  display: grid;
  grid-template-columns: repeat(minmax(50px, 1fr), auto-fit);
  grid-template-rows: repeat(5, auto);
  column-gap: 20px;
}

#td0101 {
  grid-column: 1/2;
  grid-row: 4/5;
}

#td0102 {
  grid-column: 2/3;
  grid-row: 4/5;
}

#td0201 {
  grid-column: 1/2;
  grid-row: 3/4;
}

#td0202 {
  grid-column: 2/3;
  grid-row: 3/4;
}

#td0301 {
  grid-column: 1/2;
  grid-row: 2/3;
}

#td0302 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#td0401 {
  grid-column: 1/2;
  grid-row: 1/2;
}

#td0402 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.main-education {
  grid-column: 4/8;
  grid-row: 4/5;
}

/* end education */

.main-language {
  grid-column: 4/8;
  grid-row: 5/6;
}

.main-examples {
  grid-column: 4/8;
  grid-row: 6/7;
  padding-bottom: 40px;
}

.bgrnd {
  background-color: #1a0403;
}

/* design */

.ava-photo {
  width: 210px;
  margin: 60px 20px 20px 60px;
}

.icon {
  font-size: 22px;
}

.main-heading, .side-skills {
  position: relative;
}

.main-heading:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 45%;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}

.job-position {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px !important;
    font-weight: 700;
    border-radius: 15px;
    color: #00ccff;
    background: #1e1e1e;
}

p.skill-item {
  display: inline-block;
  padding: 2px 10px;
  font-size: 14px !important;
  font-weight: 700;
  border-radius: 15px;
  border: 1px solid rgba(0, 204, 255, 0.3);
  color: #00ccff;
  background: #1e1e1e;
  margin: 3px 7px;
}

p.skill-set {
  display: inline-block;
  margin: 3px 7px;
}

div.skill-items {
  padding: 20px 0;
}

/* fonts */

h1 {
  font-size: 24px;
}

p, ul, a {
  line-height: 26px;
  font-size: 16px;
}

li {
  list-style: square;
}

ul.nav {
  margin: 10px 0;
  padding: 0;
}

ul.nav li {
  list-style-type: none;
}

ul.nav li a {
  padding: 2px 7px;
  border: 1px solid #00ccff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: #1e1e1e;
  background: #00ccff;
}

/* position */

.main-position {
  margin-left: -20px;
  padding-left: 30px;
  padding-right: 40px;
}

.main-heading {
  position: relative;
}

div.side-skills ul {
  padding-right: 10px;
}

/* loader */

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

#after-onload {
  display: none;
}

@media screen and (max-width: 655px) {

.container {
    grid-template-rows: repeat(8, auto);
}

.header-photo {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.ava-photo {
  width: 115px;
  margin: 80px 20px 20px 20px;
}

.header-contacts {
  grid-column: 3/8;
  grid-row: 2/3;
  padding: 60px 40px 20px 20px;
}

.side-skills {
  grid-column: 2/8;
  grid-row: 3/4;
  border-right: none;
  margin: 0;
  padding: 0 20px;
}

.side-skills:after {
  content: "";
  position: absolute;
  right: 3%;
  top: 4%;
  width: 47%;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}


.main-experience {
  grid-column: 2/8;
  grid-row: 4/5;
  margin: 0;
  padding: 0 20px;
}

.main-education {
  grid-column: 2/8;
  grid-row: 5/6;
  margin: 0;
  padding: 0 20px;
}

.main-language {
  grid-column: 2/8;
  grid-row: 6/7;
  margin: 0;
  padding: 0 20px;
}

.main-examples {
  grid-column: 2/8;
  grid-row: 7/8;
  margin: 0;
  padding: 0 20px;
}

.main-heading:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}

div.skill-items {
  padding: 10px 0;
}

}

@media screen and (max-width: 545px) {

  .container {
      grid-template-rows: repeat(9, auto);
  }
  
  .header-photo {
      grid-column: 2/8;
      grid-row: 2/3;      
  }
  
  .ava-photo {
    width: 40%;
    margin: 20px;
  }
  
  .header-contacts {
    grid-column: 2/8;
    grid-row: 3/4;
    padding: 20px;
  }
  
  .side-skills {
    grid-column: 2/8;
    grid-row: 4/5;
  }

  .main-experience {
    grid-column: 2/8;
    grid-row: 5/6;
  }
  
  .main-education {
    grid-column: 2/8;
    grid-row: 6/7;
  }
  
  .main-language {
    grid-column: 2/8;
    grid-row: 7/8;
  }
  
  .main-examples {
    grid-column: 2/8;
    grid-row: 8/9;
  }
  
}